@model IEnumerable<VST_sprava_servisu.Status>

@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>Statusy Sériového čísla provozu</h4></center>
</div>
<div class="form-horizontal" style="background-color:rgba(0, 0, 0, 0.5);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <p>
        @Html.ActionLink(" ", "Create",null,new { @class="btn btn-success glyphicon glyphicon-plus"})
    </p>
    <table class="table vstcolorwhite">
        <thead>
            <tr>
                <th class="col-lg-4">
                    @Html.DisplayNameFor(model => model.NazevStatusu)
                </th>
                <th class="col-lg-3">
                    @Html.DisplayNameFor(model => model.Aktivni)
                </th>
                <th class="col-lg-3">
                    @Html.DisplayNameFor(model => model.Neaktivni)
                </th>
                <th class="col-lg-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NazevStatusu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aktivni)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Neaktivni)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.Id } , new { @class = "btn btn-success glyphicon glyphicon-edit"}) 
                        
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>