@model IEnumerable<VST_sprava_servisu.Revize>

@{
    Layout = null;
}



    
    @foreach (var item in Model)

    {

        <div class="vstcal parent  " style="overflow: hidden; position: relative;" >
            <div class="vstcalr col-lg-9">
                @Html.DisplayFor(modelItem => item.Provoz.Zakaznik.NazevZakaznika)
            </div>
            <div class="vstcalr col-lg-3">
                @Html.ActionLink(" ", "Details", "Revize", new { Id = item.Id }, new { @class = "btn btn-block   btn-xs btn-primary glyphicon glyphicon-play" })
            </div>
            <div class="vstcalr col-lg-9">
                @Html.DisplayFor(modelItem => item.Provoz.NazevProvozu)
            </div>
            <div class="vstcalr col-lg-3">
                @Html.ActionLink(" ", "Replan", "Revize", new { Id = item.Id }, new { @class = "modal-link btn btn-block   btn-xs btn-info glyphicon glyphicon-cog"})
            </div>
            <div class="vstcalr col-lg-12">
                @Html.DisplayFor(modelItem => item.Umisteni.NazevUmisteni)
            </div>
            <div class="vstcalr col-lg-4">
                @Html.DisplayFor(modelItem => item.Baterie) B
            </div>
            <div class="vstcalr col-lg-4">
                @Html.DisplayFor(modelItem => item.Pyro) P
            </div>
            <div class="vstcalr col-lg-4">
                @Html.DisplayFor(modelItem => item.TlkZk) TlkZk

                
            </div>
            <div class="vstcalr col-lg-4">
                @Html.DisplayFor(modelItem => item.AP) AP
            </div>
            <div class="vstcalr col-lg-4">
                @Html.DisplayFor(modelItem => item.S) TS
            </div>
            <div class="vstcalr col-lg-4">
                @Html.DisplayFor(modelItem => item.RJ) ŘJ
            </div>

            <div class="vstcalr col-lg-4">
                @Html.DisplayFor(modelItem => item.V) V
            </div>
            <div class="vstcalr col-lg-4">
                @Html.DisplayFor(modelItem => item.M) M
            </div>
            </div>


    }

@section Scripts{
   
    }