@model IEnumerable<VST_sprava_servisu.Revize>

@{
    Layout = null;
    var @color = "";
    var @disabled = "";
}




@foreach (var item in Model)

{
    if (item.StatusRevizeId == 1)
    {
        color = "danger";
        if (Request.IsAuthenticated && User.IsInRole("Uživatel"))
        { disabled = "disabled"; }
        else
        {
            disabled = "";
        }
    }

    if (item.StatusRevizeId == 2)
    {
        color = "success";
        disabled = "";
    }
    if (item.StatusRevizeId == 3)
    {
        color = "primary";
        disabled = "disabled";
    }
    if (item.StatusRevizeId == 5)
    {
        color = "warning";
        disabled = "";
    }

<div class="vstcal parent" style=" overflow: hidden; position: relative; margin-top:5px !important;">

    <div class="vstcalr " style="font-size:14px; font-weight:600;">
        @Html.DisplayFor(modelItem => item.Provoz.Zakaznik.NazevZakaznika)
    </div>

    <div class="vstcalr " style="font-size:12px; font-weight:500;">
        @Html.DisplayFor(modelItem => item.Provoz.NazevProvozu)
    </div>

    <div class="vstcalr " style="font-size:12px; font-weight:500;">
        @Html.DisplayFor(modelItem => item.Umisteni.NazevUmisteni)
    </div>
    <div class="vstcalr " style="font-size:12px; font-weight:500; color:crimson">
        @Html.DisplayFor(modelItem => item.PoznamkazPredchoziRevize)
    </div>
    <div class="vstcalr " style="font-size:14px; font-weight:600; color:crimson">
        @Html.DisplayFor(modelItem => item.Projekt)
    </div>

    <table style="width:100%; margin:0px;padding:5px; border-top: 1px !important;background-color: #dcdcdc !important;
border-left: 2px !important;
border-right: 2px !important;
border-bottom: 2px !important;
    border-style: solid !important;
    border-color: #f5f5f5 !important;
    ">
        <tr>
            <td style="text-align:left; font-size:14px; font-weight:700;padding-left:5px;"> Revize:</td>
            <td style="text-align:center; font-size:14px; font-weight:700;">
                @if (item.AP > 0)
                {<text>@item.AP</text><text>AP</text>}
                @if (item.S > 0)
                {<text>@item.S</text><text>S</text>}
                @if (item.RJ > 0)
                {<text>@item.RJ</text><text>RJ</text>}
                @if (item.V > 0)
                {<text>@item.V</text><text>V</text>}
                @if (item.F > 0)
                {<text>@item.F</text><text>V</text>}
                @if (item.M > 0)
                {<text>@item.M</text><text>M</text>}
            </td>
        </tr>
        <tr>
            @if (item.Baterie > 0 || item.Pyro > 0 || item.TlkZk > 0)
            {
                <text>
                    <td style="text-align:left; font-size:14px; font-weight:600;padding-left:5px;">Výměny:</td></text>
            }
            <td style="text-align:center; font-size:14px; font-weight:600;">
                @if (item.Baterie > 0)
                {<text>@item.Baterie</text><text>B</text>}
                @if (item.Pyro > 0)
                {<text>@item.Pyro</text><text>P</text>}
                @if (item.TlkZk > 0)
                {<text>@item.TlkZk</text><text>TZ</text>}
            </td>
        </tr>

        <tr>
            <td style="text-align:left; font-size:14px; font-weight:600;padding-left:5px;">
                @if (item.Baterie > 0)
                {
                    <text>Baterie:</text>
                }
            </td>
            <td style="text-align:center; font-size:14px; font-weight:600;">
                @if (item.Baterie > 0)
                {
                    foreach (var x in item.RevizeBaterie)
                    {@Html.Raw(@x.BaterieSAPKod + " - " + x.Pocet + "<br>")}
            }
            </td>

        </tr>

        <tr>
            <td style="text-align:left; font-size:14px; font-weight:600;padding-left:5px;">
                @if (item.RTN > 0 || item.VRTN > 0 || item.TZTN > 0)
                {
                    <text>Tlakové nádoby:</text>
                }
            </td>
            <td style="text-align:center; font-size:14px; font-weight:600;">
                @if (item.RTN > 0)
                {<text>@item.RTN</text><text>RTN</text>}
                @if (item.VRTN > 0)
                {<text>@item.VRTN</text><text>VRTN</text>}
                @if (item.TZTN > 0)
                {<text>@item.TZTN</text><text>TZTN</text>}
            </td>

        </tr>
    </table>


    <div style="display:flex;">
        <div class="" style="width:50%;padding:5px;padding-top:1px;">
            @Html.ActionLink(" ", "Details", "Revize", new { Id = item.Id, Region = ViewBag.Region }, new { @class = "btn btn-info btn-block  btn-xs btn-default glyphicon glyphicon-play" })
        </div>
        <div class=" " style="width:50%;padding:5px;padding-top:1px;">
            @Html.ActionLink(" ", "Replan", "Revize", new { Id = item.Id, Region = ViewBag.Region }, new { @class = $"modal-link btn btn-{@color} btn-block btn-xs glyphicon glyphicon-cog {@disabled}" })
        </div>
    </div>
</div>


}

@section Scripts{

}