@model VST_sprava_servisu.Revize

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_FullW.cshtml";
}
@Html.Action("Header", "Revize", new { Id = Model.Id, Revize = ViewBag.Revize })


<center>
    <br>
<h3>Potvrzením dojde ke smazání této revize včetně všech prvků, které revize obsahuje.</h3>
    </center>
<div>
    @*
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DatumRevize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatumRevize)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatumVystaveni)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatumVystaveni)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ZjistenyStav)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ZjistenyStav)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProvedeneZasahy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProvedeneZasahy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OpatreniKOdstraneni)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpatreniKOdstraneni)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KontrolaProvedenaDne)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KontrolaProvedenaDne)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PristiKontrola)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PristiKontrola)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rok)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rok)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pololeti)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pololeti)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Provoz.NazevProvozu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusRevize.NazevStatusuRevize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusRevize.NazevStatusuRevize)
            </dd>

        </dl>
    *@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <center>
        <div class="form-actions no-color">
            <input type="submit" value="Smaž" class="btn btn-danger " />
            @Html.ActionLink("Zpět", "Details", "Revize", new { id = Model.Id }, new { @class = "btn  btn-warning" })
        </div>
            </center>
    }
</div>
