@model VST_sprava_servisu.Revize

@{
    ViewBag.Title = "Delete";
}

<h2>Smazání revize</h2>

<h3>Potvrzením dojde ke smazání této revize včetně všech prvků, které revize obsahuje.</h3>
<div>
    <h4>Revize</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumRevize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRevize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumVystaveni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumVystaveni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZjistenyStav)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZjistenyStav)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvedeneZasahy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvedeneZasahy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpatreniKOdstraneni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpatreniKOdstraneni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KontrolaProvedenaDne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KontrolaProvedenaDne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PristiKontrola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PristiKontrola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pololeti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pololeti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provoz.NazevProvozu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusRevize.NazevStatusuRevize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusRevize.NazevStatusuRevize)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
