@model VST_sprava_servisu.Revize

@{
    ViewBag.Title = "Details";
}

<div style="background-color:rgba(0, 0, 0, 0.5)">
    <div class="row" style="background-color:rgba(0, 0, 0, 0.3);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
        <div class="col-lg-8">
            <h3 class="vstcolor">@Html.DisplayFor(model => model.Provoz.Zakaznik.NazevZakaznika)</h3><br>
            <h4 class="vstcolor">@Html.DisplayFor(model => model.Provoz.NazevProvozu)</h4>
            <h4 class="vstcolor">@Html.DisplayFor(model => model.StatusRevize.NazevStatusuRevize)</h4>
            <h4 class="vstcolor">@Html.DisplayFor(model => model.DatumRevize)</h4>
</div>
        <div class="col-lg-4 vstcolorwhite">
            <p>
                @Html.ActionLink("Zpět na plán", "Nahled", "Revize", new { Rok = Model.DatumRevize.Year, Mesic = Model.DatumRevize.Month }, new { @class = "btn btn-info btn-xs btn-block" })
                @Html.ActionLink("Přeplánování","Edit","Revize",new { Id= Model.Id},new {@class = "btn btn-vstprimary btn-xs btn-block"})
                @Html.ActionLink("Tisk záznamu o kontrole", "OpenPDF", "Revize", new { Id = Model.Id }, new { @class = "btn btn-vstprimary btn-xs btn-block" })
                @Html.ActionLink("Vyplnění záznamu o kontrole", "Edit", "Revize", new { Id = Model.Id }, new { @class = "btn btn-vstprimary btn-xs btn-block" })
                @Html.ActionLink("Tisk potvrzení", "Edit", "Revize", new { Id = Model.Id }, new { @class = "btn btn-vstprimary btn-xs btn-block" })
                @Html.ActionLink("Uzavření revize", "Edit", "Revize", new { Id = Model.Id }, new { @class = "btn btn-vstprimary btn-xs btn-block" })
            </p>

        </div>
        
        
        
        
        
    </div>
      
</div>