@model VST_sprava_servisu.Revize

@{
    ViewBag.Title = "Details";
}

<div style="background-color:rgba(0, 0, 0, 0.5)">
    <div class="row" style="background-color:rgba(0, 0, 0, 0.3);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
        <div class="col-lg-8">
            <h3 class="vstcolor">@Html.DisplayFor(model => model.Provoz.Zakaznik.NazevZakaznika)</h3><br>
            <h4 class="vstcolor">@Html.DisplayFor(model => model.Provoz.NazevProvozu)</h4>
        </div>
        <div class="col-lg-4 vstcolorwhite">
            <p>
                @Html.DisplayFor(model => model.StatusRevize.NazevStatusuRevize)<br>
                @Html.DisplayFor(model => model.DatumRevize)
                @Html.ActionLink("Editace","Edit","Revize",new { Id= Model.Id},new {@class = "btn"})
            </p>

        </div>
        
        
        
        
        
    </div>
      
</div>