@model VST_sprava_servisu.Revize

@{
    ViewBag.Title = "Edit";
}
@Html.Action("Header", "Revize", new { Id = Model.Id })
<link href="~/Scripts/summernote/summernote.css" rel="stylesheet" />
<div class="col-lg-12 " style="border-top: 1px !important; border: 2px !important; border-style: solid !important; border-color: #f5f5f5 !important;background-color: #dcdcdc">
    <center><h4 class="">Vyplnění záznamu o kontrole</h4></center>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProvozId)
        @Html.HiddenFor(model => model.DatumVystaveni)




        @Html.HiddenFor(model => model.Rok)
        @Html.HiddenFor(model => model.Pololeti)
        @Html.HiddenFor(model => model.UmisteniId)
        @Html.HiddenFor(model => model.Baterie)
        @Html.HiddenFor(model => model.Pyro)
        @Html.HiddenFor(model => model.TlkZk)
        @Html.HiddenFor(model => model.AP)
        @Html.HiddenFor(model => model.S)
        @Html.HiddenFor(model => model.RJ)
        @Html.HiddenFor(model => model.M)
        @Html.HiddenFor(model => model.V)

        @Html.HiddenFor(model => model.DatumRevize)
        @Html.HiddenFor(model => model.StatusRevizeId)
        @Html.HiddenFor(model => model.Projekt)
        @Html.HiddenFor(model => model.Nabidka)
        @Html.Hidden("Region", (object)ViewBag.Region)

        <div class="form-group">
            @Html.LabelFor(model => model.ZjistenyStav, htmlAttributes: new { @class = "control-label col-md-3 " })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.ZjistenyStav, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZjistenyStav, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProvedeneZasahy, htmlAttributes: new { @class = "control-label col-md-3 " })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.ProvedeneZasahy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProvedeneZasahy, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OpatreniKOdstraneni, htmlAttributes: new { @class = "control-label col-md-3 " })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.OpatreniKOdstraneni, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OpatreniKOdstraneni, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.KontrolaProvedenaDne, htmlAttributes: new { @class = "control-label col-md-3 " })
            <div class="col-md-9">
                @Html.EditorFor(model => model.KontrolaProvedenaDne, new { htmlAttributes = new { @class = "form-control  datetimepicker" } })
                @Html.ValidationMessageFor(model => model.KontrolaProvedenaDne, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PristiKontrola, htmlAttributes: new { @class = "control-label col-md-3 " })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PristiKontrola, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.PristiKontrola, "", new { @class = "text-danger" })

            </div>
        </div>






        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Ulož" class="btn btn-success" />

            </div>
        </div>
    </div>
    }



</div>

    @section Scripts {

        <script src="~/Scripts/summernote/summernote.js"></script>
        <link href="~/Scripts/summernote/summernote.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <style type="text/css">

            .note-editable {
                background-color: white !important;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#ZjistenyStav').summernote({ styleWithSpan: false });
                $('#ProvedeneZasahy').summernote({ styleWithSpan: false });
                $('#OpatreniKOdstraneni').summernote({ styleWithSpan: false });
            });

            $('.datetimepicker').datetimepicker({
                format: 'DD.MM.YYYY'
                //daysOfWeekDisabled: [0, 6]
                , locale: 'cs'



            });
        </script>
    }
