@model VST_sprava_servisu.Revize
@{
    ViewBag.Title = "Header";
}
@{
    Layout = ""; var @color = ""; var @color2 = ""; var @disabled = "";
}
@{
    if (Model.StatusRevize.Planovana == true)
    {
        color = "danger";
        color2 = "#d9534f";
    }
    if (Model.StatusRevize.Potvrzena == true)
    {
        color = "warning";
        color2 = "#FF8800";
    }
    if (Model.StatusRevize.Realizovana == true)
    {
        color = "success";
        color2 = "#5cb85c";
        disabled = "disabled";
    }
}

    <div class="row" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
        <div class="col-lg-6 ">
            <h3 class="vstcolor">@Html.DisplayFor(model => model.Provoz.Zakaznik.NazevZakaznika)</h3>
            <h4 class="vstcolor">@Html.DisplayFor(model => model.Provoz.NazevProvozu) / @Html.DisplayFor(model => model.Umisteni.NazevUmisteni)</h4>
            <h4 class="" style="color:@color2">@Html.DisplayFor(model => model.StatusRevize.NazevStatusuRevize)</h4>
            <h4 class="vstcolor">@Html.DisplayFor(model => model.DatumRevize)</h4>

            <table style="width:100%; color:#fdc800 !important;margin:0px;padding:0px">
                <tr>
                    <td style="text-align:left; font-size:18px; font-weight:700;">
                        @if (Model.Baterie > 0)
                        {<text>@Model.Baterie</text><text>B</text>}
                        @if (Model.Pyro > 0)
                        {<text>@Model.Pyro</text><text>P</text>}
                        @if (Model.TlkZk > 0)
                        {<text>@Model.TlkZk</text><text>TZ</text>}
                    </td>
                    <td style="text-align:left; font-size:18px; font-weight:700;">
                        @if (Model.AP > 0)
                        {<text>@Model.AP</text><text>AP</text>}
                        @if (Model.S > 0)
                        {<text>@Model.S</text><text>S</text>}
                        @if (Model.RJ > 0)
                        {<text>@Model.RJ</text><text>RJ</text>}
                        @if (Model.V > 0)
                        {<text>@Model.V</text><text>V</text>}
                        @if (Model.M > 0)
                        {<text>@Model.M</text><text>M</text>}
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-lg-6 vstcolorwhite">
            <div class="col-lg-4 ">
                @using (Html.BeginForm("Nahled", "Revize"))
        {@Html.Hidden("Rok", Model.DatumRevize.Year) @Html.Hidden("Mesic", Model.DatumRevize.Month) @Html.Hidden("Region", Model.Region)
        @Html.AntiForgeryToken()
        <input type="submit" value="Kalendář" class="btn btn-info btn-block btn-md btn-block" />
}
            </div>
            <div class="col-lg-4 ">
                @using (Html.BeginForm("List", "Revize"))
        {@Html.Hidden("Send", true) @Html.Hidden("Skupina", (object)ViewBag.ListRegion) @Html.Hidden("Status", (object)ViewBag.ListStatus)
        @Html.Hidden("DateTo", (object)ViewBag.ListDateTo) @Html.Hidden("DateFrom", (object)ViewBag.ListDateFrom)
        @Html.AntiForgeryToken()
        <input type="submit" value="Seznam revizi" class="btn btn-info btn-md btn-block" />
}
            </div>
            <div class="col-lg-4 ">
                @Html.ActionLink("Přeplánování", "Edit", "Revize", new { Id = Model.Id, Region = Model.Region }, 
               new { @class = $"btn btn-{color} btn-md btn-block {disabled}" })
            </div>
            @if (Request.IsAuthenticated && (User.IsInRole("Administrator") || User.IsInRole("Manager")))
    {

        <div class="col-lg-4 ">
            <button class="btn btn-vstprimary btn-md btn-block dropdown-toggle @disabled " type="button" data-toggle="dropdown">
                Záznam o kontrole
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Česká verze", "OpenPDF", "Revize", new { Id = Model.Id, lang = "cz" }, null)</li>
                <li>@Html.ActionLink("Anglická verze", "OpenPDF", "Revize", new { Id = Model.Id, lang = "en" }, null)</li>
                <li>@Html.ActionLink("Německá verze", "OpenPDF", "Revize", new { Id = Model.Id, lang = "de" }, null)</li>
                <li>@Html.ActionLink("Polská verze", "OpenPDF", "Revize", new { Id = Model.Id, lang = "pl" }, null)</li>
                <li>@Html.ActionLink("Slovenská verze", "OpenPDF", "Revize", new { Id = Model.Id, lang = "sk" }, null)</li>
            </ul>
        </div>
        <div class="col-lg-4 ">
            <button class="btn btn-vstprimary btn-md btn-block dropdown-toggle @disabled" type="button" data-toggle="dropdown">
                Protokol o provedení tlakové zkoušky
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Česká verze", "OpenPDFTlkZK", "Revize", new { Id = Model.Id, lang = "cz" }, null)</li>
                <li>@Html.ActionLink("Anglická verze", "OpenPDFTlkZK", "Revize", new { Id = Model.Id, lang = "en" }, null)</li>
                <li>@Html.ActionLink("Německá verze", "OpenPDFTlkZK", "Revize", new { Id = Model.Id, lang = "de" }, null)</li>
                <li>@Html.ActionLink("Polská verze", "OpenPDFTlkZK", "Revize", new { Id = Model.Id, lang = "pl" }, null)</li>
                <li>@Html.ActionLink("Slovenská verze", "OpenPDFTlkZK", "Revize", new { Id = Model.Id, lang = "sk" }, null)</li>
            </ul>
        </div>
        <div class="col-lg-4 ">
            <button class="btn btn-vstprimary btn-md btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                Doklad o provozuschopnosti
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Česká verze", "OpenPDFPotvrzeni", "Revize", new { Id = Model.Id, lang = "cz" }, null)</li>
                <li>@Html.ActionLink("Anglická verze", "OpenPDFPotvrzeni", "Revize", new { Id = Model.Id, lang = "en" }, null)</li>
                <li>@Html.ActionLink("Německá verze", "OpenPDFPotvrzeni", "Revize", new { Id = Model.Id, lang = "de" }, null)</li>
                <li>@Html.ActionLink("Polská verze", "OpenPDFPotvrzeni", "Revize", new { Id = Model.Id, lang = "pl" }, null)</li>
                <li>@Html.ActionLink("Slovenská verze", "OpenPDFPotvrzeni", "Revize", new { Id = Model.Id, lang = "sk" }, null)</li>
            </ul>
        </div>

        <div class="col-lg-12 ">
            @Html.ActionLink("Vyplnění záznamu o kontrole", "Fill", "Revize", 
           new { Id = Model.Id, Region = Model.Region }, new { @class = $"btn btn-vstprimary btn-md btn-block {disabled}" })
        </div>

        <div class="col-lg-12 ">
            @Html.ActionLink("Uzavření revize", "Close", "Revize", 
           new { Id = Model.Id, Region = Model.Region }, new { @class = $"btn btn-vstprimary btn-md btn-block {disabled}" })
        </div>
        <div class="col-lg-12 ">
            @Html.ActionLink("Přidej prvek", "Create", "RevizeSC", 
           new { RevizeId = Model.Id }, new { @class = $"btn btn-success btn-block btn-md {disabled}" })
        </div>
        <div class="col-lg-12 ">
            <button class="btn btn-vstprimary btn-block btn-md dropdown-toggle @disabled" type="button" data-toggle="dropdown">
                Automatické úpravy
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Přesuň tlakové zkoušky do samostatné revize", "Index", "GenerovaniRevizeTlakoveZkousky", new { RevizeId = Model.Id }, new { @class = $" {disabled}" })
                </li>
                <li>
                    @Html.ActionLink("Přesuň baterie do následné revize", "", "", new { RevizeId = Model.Id }, new { @class = $" {disabled}" })

                </li>
                <li>
                    @Html.ActionLink("Přesuň pyro do následné revize", "", "", new { RevizeId = Model.Id }, new { @class = $" {disabled}" })

                </li>
                <li>
                    @Html.ActionLink("Přesuň baterie do předchozí revize", "", "", new { RevizeId = Model.Id }, new { @class = $" {disabled}" })
                </li>
                <li>
                    @Html.ActionLink("Přesuň pyro do předchozí revize", "", "", new { RevizeId = Model.Id }, new { @class = $" {disabled}" })
                </li>
            </ul>
        </div>



            <br>

            <div class="dropdown">
                
            </div>



            }
            
        </div>
        </div>
