
@{
    ViewBag.Title = "MonthViewHeader";
}
@{ Layout = null;}
@{ var X = "active";}
@{ var primary = "btn btn-block btn-primary";}
@{ var success = "btn btn-block btn-success";
    var thisyear = ViewBag.ThisYear;

}

<div style="width:100%;display: flex; background-color:rgba(0, 0, 0, 0.3);border:1px !important;border-bottom:0px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
<div style="width:33%;display: flex; margin:0px;padding:10px">
    <div style="width:33.3%;; background-color:rgba(0, 0, 0, 0.3)">
        @Html.ActionLink((string)ViewBag.LastYear.ToString(), "Nahled", "Revize", new { Rok = ViewBag.LastYear }, new { @class = ((ViewBag.LastYear == ViewBag.Rok) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:33.3%; background-color:rgba(0, 0, 0, 0.3)">
        @Html.ActionLink((string)ViewBag.ThisYear.ToString(), "Nahled", "Revize", new { Rok = ViewBag.ThisYear }, new { @class = ((ViewBag.ThisYear == ViewBag.Rok) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:33.3%; background-color:rgba(0, 0, 0, 0.3)">
        @Html.ActionLink((string)ViewBag.NextYear.ToString(), "Nahled", "Revize", new { Rok = ViewBag.NextYear }, new { @class = ((ViewBag.NextYear == ViewBag.Rok) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
</div>

<div style="width:66%;text-align:center; display : flex; margin:0px;padding:10px">
   
        <div style="width:20%; background-color:rgba(0, 0, 0, 0.3)">
            @Html.ActionLink("Vše", "Nahled", "Revize", new { Rok = ViewBag.Rok, Mesic = ViewBag.Mesic, Region = 0 }, new { @class = ((ViewBag.Region == 0) ? "btn btn-sm btn-block btn-success" : "btn btn-sm btn-block btn-vstprimary") })
        </div>
        <div style="width:20%; background-color:rgba(0, 0, 0, 0.3)">
            @Html.ActionLink("Česká republika", "Nahled", "Revize", new { Rok = ViewBag.Rok, Mesic = ViewBag.Mesic, Region = 1 }, new { @class = ((ViewBag.Region == 1) ? "btn btn-sm btn-block btn-success" : "btn btn-sm btn-block btn-vstprimary") })
        </div>
        <div style="width:20%; background-color:rgba(0, 0, 0, 0.3)">
            @Html.ActionLink("Polsko", "Nahled", "Revize", new { Rok = ViewBag.Rok, Mesic = ViewBag.Mesic, Region = 2 }, new { @class = ((ViewBag.Region == 2) ? "btn btn-sm btn-block btn-success" : "btn btn-sm btn-block btn-vstprimary") })
        </div>
        <div style="width:20%; background-color:rgba(0, 0, 0, 0.3)">
            @Html.ActionLink("Slovensko a Maďarsko", "Nahled", "Revize", new { Rok = ViewBag.Rok, Mesic = ViewBag.Mesic, Region = 3 }, new { @class = ((ViewBag.Region == 3) ? "btn btn-sm btn-block btn-success" : "btn btn-sm btn-block btn-vstprimary") })
        </div>
        <div style="width:20%; background-color:rgba(0, 0, 0, 0.3)">
            @Html.ActionLink("Ostatní", "Nahled", "Revize", new { Rok = ViewBag.Rok, Mesic = ViewBag.Mesic, Region = 4 }, new { @class = ((ViewBag.Region == 4) ? "btn btn-sm btn-block btn-success" : "btn btn-sm btn-block btn-vstprimary") })
        </div>
    
</div>
    </div>


<div style="width:100%;text-align:center; display : flex; background-color:rgba(0, 0, 0, 0.3);border:1px !important;border-bottom:0px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:20px">
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("1", "Nahled", "Revize", new { Mesic = 1 }, new { @class = ((ViewBag.Mesic == 1) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("2", "Nahled", "Revize", new { Mesic = 2 }, new { @class = ((ViewBag.Mesic == 2) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("3", "Nahled", "Revize", new { Mesic = 3 }, new { @class = ((ViewBag.Mesic == 3) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("4", "Nahled", "Revize", new { Mesic = 4 }, new { @class = ((ViewBag.Mesic == 4) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("5", "Nahled", "Revize", new { Mesic = 5 }, new { @class = ((ViewBag.Mesic == 5) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("6", "Nahled", "Revize", new { Mesic = 6 }, new { @class = ((ViewBag.Mesic == 6) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("7", "Nahled", "Revize", new { Mesic = 7 }, new { @class = ((ViewBag.Mesic == 7) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("8", "Nahled", "Revize", new { Mesic = 8 }, new { @class = ((ViewBag.Mesic == 8) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("9", "Nahled", "Revize", new { Mesic = 9 }, new { @class = ((ViewBag.Mesic == 9) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("10", "Nahled", "Revize", new { Mesic = 10 }, new { @class = ((ViewBag.Mesic == 10) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("11", "Nahled", "Revize", new { Mesic = 11 }, new { @class = ((ViewBag.Mesic == 11) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
    <div style="width:8.3%; background-color:rgba(0, 0, 0, 0.3);">
        @Html.ActionLink("12", "Nahled", "Revize", new { Mesic = 12 }, new { @class = ((ViewBag.Mesic == 12) ? "btn btn-block btn-sm btn-success" : "btn btn-block btn-sm btn-vstprimary") })
    </div>
</div>    
