@model IEnumerable<VST_sprava_servisu.Revize>

@{
    ViewBag.Title = "Nahled";
}



@Html.Action("MonthViewHeader",new {Rok = ViewBag.Rok, Mesic = ViewBag.Mesic })

<table class="table">
    <thead>
        <tr style="text-align:center">
            <th style="text-align:center">Po</th>
            <th style="text-align:center">Út</th>
            <th style="text-align:center">St</th>
            <th style="text-align:center">Čt</th>
            <th style="text-align:center">Pá</th>
            <th style="text-align:center">So</th>
            <th style="text-align:center">Ne</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        
        
        </tr>
    </tbody>
</table>





<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumRevize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumVystaveni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZjistenyStav)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvedeneZasahy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpatreniKOdstraneni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KontrolaProvedenaDne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PristiKontrola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rok)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pololeti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusRevize.NazevStatusuRevize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Umisteni.NazevUmisteni)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DatumRevize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVystaveni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZjistenyStav)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvedeneZasahy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpatreniKOdstraneni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KontrolaProvedenaDne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PristiKontrola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rok)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pololeti)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
