

@{
    ViewBag.Title = "Nahled";
    Layout = "~/Views/Shared/_Layout_FullW.cshtml";
}

@{ 
    int loop = 0;
    }

@Html.Action("MonthViewHeader",new {Rok = ViewBag.Rok, Mesic = ViewBag.Mesic })

<br>

<table class="table vstcolorwhite" style="border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <thead>
        <tr class="vstcolor" style="text-align:center;background-color:rgba(0, 0, 0, 0.7);">
            <th style="text-align:center; width:14% ">Po</th>
            <th style="text-align:center; width:14%">Út</th>
            <th style="text-align:center; width:14%">St</th>
            <th style="text-align:center; width:14%">Čt</th>
            <th style="text-align:center; width:14%">Pá</th>
            <th style="text-align:center; width:14%">So</th>
            <th style="text-align:center; width:14%">Ne</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            @for (var i = 0; i < ViewBag.X; i++)
            {
                @Html.Raw("<td></td>");
                loop = (int)ViewBag.X;
            }

            @for (var i = 0; i < ViewBag.DaysInMonth; i++)
            {
                @Html.Raw("<td>");
                <table style="text-align:center;background-color:rgba(0, 0, 0, 0.4); border: 1px !important;    border-style: solid !important; border-color: #ffffff !important;" width="100%">
                    <tr>
                        <td>
                            @Html.Raw(i+1)
                        </td>
                        
                    </tr>
                </table>
                @Html.Action("DateView","Revize", new { Rok = ViewBag.Rok, Mesic = ViewBag.Mesic, Den = i+1 })
                @Html.Raw("</td>");

                loop = loop + 1;
                if (loop == 7)
                { @Html.Raw("</tr><tr>"); 
                    loop = 0;
                }
            }
            @for (var i = loop; i < 7; i++)
            {
                @Html.Raw("<td></td>");
            }


        </tr>
    </tbody>
</table>
   
@section Scripts {
    <script type="text/javascript">


        $('.datetimepicker').datetimepicker(
            {
                format: 'DD.MM.YYYY',
                daysOfWeekDisabled: [0, 6],
                locale: 'cs',




            });



        
    </script>


}




