

@{
    ViewBag.Title = "Nahled";
    Layout = "~/Views/Shared/_Layout_FullW.cshtml";
}

@{ 
    int loop = 0;
    }

@Html.Action("MonthViewHeader",new {Rok = ViewBag.Rok, Mesic = ViewBag.Mesic })

<br>

<table class="table" style="border-collapse: collapse; border-spacing: 0 ;border:2px !important;border-style:solid !important; border-color:#ffffff !important;margin:0px;padding:10px;background-color:#EBEBEB">
    <thead>
        <tr class="" style="text-align:center;background-color:#C3C3C3;">
            <th style="text-align:center;border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important; width:14% ">Po</th>
            <th style="text-align:center;border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important; width:14%">Út</th>
            <th style="text-align:center;border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important; width:14%">St</th>
            <th style="text-align:center;border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important; width:14%">Čt</th>
            <th style="text-align:center;border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important; width:14%">Pá</th>
            <th style="text-align:center;border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important; width:14%">So</th>
            <th style="text-align:center;border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important; width:14%">Ne</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            @for (var i = 0; i < ViewBag.X; i++)
            {
                @Html.Raw("<td style = \"border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important;\"></td>");
                loop = (int)ViewBag.X;
            }

            @for (var i = 0; i < ViewBag.DaysInMonth; i++)
            {
                @Html.Raw("<td style = \"border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important;\">");
                <table class="" style="text-align:center;background-color:#C3C3C3; width:100%" >
                    <tr>
                        <td>
                            <h5><b>@Html.Raw(i+1)</b></h5>
                        </td>
                        
                    </tr>
                </table>
                @Html.Action("DateView","Revize", new { Rok = ViewBag.Rok, Mesic = ViewBag.Mesic, Den = i+1, Region = ViewBag.Region })
                @Html.Raw("</td>");

                loop = loop + 1;
                if (loop == 7)
                { @Html.Raw("</tr><tr>"); 
                    loop = 0;
                }
            }
            @for (var i = loop; i < 7; i++)
            {
                @Html.Raw("<td style = \"border-top: 3px solid #ffffff !important; border-left: 3px solid #ffffff !important;\"></td>");
            }


        </tr>
    </tbody>
</table>
   
@section Scripts {
    <script type="text/javascript">


        $('.datetimepicker').datetimepicker(
            {
                format: 'DD.MM.YYYY',
                daysOfWeekDisabled: [0, 6],
                locale: 'cs',




            });



        
    </script>


}




