@model VST_sprava_servisu.Umisteni


@{
    int index = Convert.ToInt32(ViewData["Zakaznik"]);
    int index2 = Convert.ToInt32(ViewData["Provoz"]);
}
@Html.Action("Header", "Zakaznici", new { Id = index })
@Html.Action("Header", "Provozy", new { Id = index2 })

<div style="background-color:rgba(0, 0, 0, 0.5);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px; padding-top:10px;padding-bottom:10px;">
    <h3 class="vstcolorwhite">Opravdu chcete smazat tuto technologii?</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt class="vstcolorwhite">
                @Html.DisplayNameFor(model => model.NazevUmisteni)
            </dt>

            <dd class="vstcolorwhite">
                @Html.DisplayFor(model => model.NazevUmisteni)
            </dd>

            <dt class="vstcolorwhite">
                @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
            </dt>

            <dd class="vstcolorwhite">
                @Html.DisplayFor(model => model.Provoz.NazevProvozu)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Zpět na provoz zákazníka", "Details","Provozy",new { Id = Model.ProvozId}, new { @class = "btn btn-info"})
            </div>
        }
    </div>
</div>

