@model VST_sprava_servisu.Umisteni

 @{
     int index = Convert.ToInt32(ViewData["Zakaznik"]);
     int index2 = Convert.ToInt32(ViewData["Provoz"]);
}
@Html.Action("Header", "Zakaznici", new { Id = index })
@Html.Action("Header", "Provozy", new { Id = index2 })

    <div class="row" style="background-color:rgba(0, 0, 0, 0.5);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px; padding-top:10px;padding-bottom:10px;">
    <h4 class="vstcolor">@Html.DisplayFor(model => model.NazevUmisteni)</h4>
    
        
   @Html.Partial("~/Views/SCProvozu/Index.cshtml", Model.SCProvozu)
</div>
    <br>
@Html.Action("TestSC", "SAPImport", new { Provoz = Model.ProvozId, Zakaznik = index, Umisteni = Model.Id })


