@model IEnumerable<VST_sprava_servisu.Umisteni>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink(" ", "Create", "Umistenis", new { Provoz = ViewData["Provoz"] , Zakaznik = ViewData["Zakaznik"] }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-plus" })
    </p>
    <table class="table">
        <tr class="vstcolor">
            <th >
                @Html.DisplayNameFor(model => model.NazevUmisteni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SamostatnaRevize)
            </th>
            <th></th>
        </tr >
    
    @foreach (var item in Model) {
        <tr class="vstcolorwhite">
            <td class="col-lg-4">
                @Html.DisplayFor(modelItem => item.NazevUmisteni)
            </td>
            <td class="col-lg-3">
                @Html.DisplayFor(modelItem => item.Provoz.NazevProvozu)
            </td>
            <td class="col-lg-3">
                @Html.DisplayFor(modelItem => item.SamostatnaRevize)
            </td>
            <td class="col-lg-2">
                @Html.ActionLink(" ", "Edit", "Umistenis", new { id = item.Id, Provoz = ViewData["Provoz"], Zakaznik = ViewData["Zakaznik"] }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-edit" })
                @Html.ActionLink(" ", "Details","Umistenis" ,new { id=item.Id, Provoz = ViewData["Provoz"], Zakaznik = ViewData["Zakaznik"] }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-cog" }) 
                @Html.ActionLink(" ", "Delete", "Umistenis", new { id=item.Id, Provoz = ViewData["Provoz"], Zakaznik = ViewData["Zakaznik"] }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash" })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
