@model IEnumerable<VST_sprava_servisu.Umisteni>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create", "Umistenis", new { Provoz = ViewData["Provoz"] , Zakaznik = ViewData["Zakaznik"] }, new { @class = "btn btn-primary btn-sm" })
    </p>
    <table class="table">
        <tr class="vstcolor">
            <th >
                @Html.DisplayNameFor(model => model.NazevUmisteni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
            </th>
            <th></th>
        </tr >
    
    @foreach (var item in Model) {
        <tr class="vstcolorwhite">
            <td class="col-lg-5">
                @Html.DisplayFor(modelItem => item.NazevUmisteni)
            </td>
            <td class="col-lg-4">
                @Html.DisplayFor(modelItem => item.Provoz.NazevProvozu)
            </td>
            <td class="col-lg-3">
                @Html.ActionLink("Edit", "Edit","Umistenis", new { id=item.Id }, new { @class = "btn btn-primary btn-sm" }) 
                @Html.ActionLink("Details", "Details","Umistenis" ,new { id=item.Id }, new { @class = "btn btn-primary btn-sm" }) 
                @Html.ActionLink("Delete", "Delete", "Umistenis", new { id=item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
