@model IEnumerable<VST_sprava_servisu.VymenyLahvi>

@{

    Layout = "";
    ViewBag.Title = "Index";
    var @disabled = "";
    }

@if (Model.Count() > 0)
{
    <h2>Přehled provedených výměn v revizi</h2>


    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.DatumVymeny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCProvozu.SerioveCislo.SerioveCislo1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCProvozu1.SerioveCislo.SerioveCislo1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCLahve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCProvozu.Znaceni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCProvozu.Lokace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popis)
            </th>
            <th>

            </th>


        </tr>

        @foreach (var item in Model)
        {
            
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DatumVymeny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCProvozu.SerioveCislo.SerioveCislo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCProvozu1.SerioveCislo.SerioveCislo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCLahve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCProvozu.Znaceni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCProvozu.Lokace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popis)
            </td>
            <td>
                @if (Request.IsAuthenticated && (User.IsInRole("Administrator") || User.IsInRole("Manager")))
    {
            @Html.ActionLink("Edit", "Edit", "VymenyLahvi", new { id = item.Id, Region = ViewBag.Region }, new { @class = $"btn btn-warning btn-md btn-block " })
            
}

            </td>

        </tr>
        }

    </table>
}