@model VST_sprava_servisu.Provoz

@{
    ViewBag.Title = "Details";
}
@{
    Layout = null;
}


<div style="background-color:rgba(0, 0, 0, 0.5)">
    <div class="row" style="background-color:rgba(0, 0, 0, 0.3);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
        <h3 class="vstcolor">@Html.DisplayFor(model => model.NazevProvozu)</h3>
        <div class="col-lg-4">

            <h6 class="vstcolorwhite">@Html.DisplayFor(model => model.AdresaProvozu)</h6>
        </div>
        <div class="col-lg-8">
            <div class="vstcolorwhite col-lg-4">
                @Html.DisplayNameFor(model => model.PouzijVTisku)



                @Html.DisplayFor(model => model.PouzijVTisku)

            </div>
            <div class="vstcolorwhite col-lg-4">
                @Html.DisplayNameFor(model => model.IC)



                @Html.DisplayFor(model => model.IC)

            </div>
            <div class="vstcolorwhite col-lg-4">
                @Html.DisplayNameFor(model => model.DIC)



                @Html.DisplayFor(model => model.DIC)

            </div>
        </div>
    </div>
    </div>
        
    