@model IEnumerable<VST_sprava_servisu.Provoz>

@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>Seznam provozů</h4></center>
</div>
<div class="row" style="background-color:rgba(0, 0, 0, 0.5);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th class="vstcolor">
                    @Html.DisplayNameFor(model => model.NazevProvozu)<br>@Html.DisplayNameFor(model => model.AdresaProvozu)
                </th>
                <th class="vstcolor">
                    @Html.DisplayNameFor(model => model.OddeleniVybuchu)
                </th>
                <th class="vstcolor">
                    @Html.DisplayNameFor(model => model.PotlaceniVybuchu)
                </th>
                <th class="vstcolor">
                    @Html.DisplayNameFor(model => model.OdlehceniVybuchu)
                </th>
                <th class="vstcolor">
                    @Html.DisplayNameFor(model => model.SAPAddress)
                </th>
                <th>
                    
                </th>           
                
               
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="vstcolorwhite">
                        @Html.DisplayFor(modelItem => item.NazevProvozu)<br>@Html.DisplayFor(modelItem => item.AdresaProvozu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OddeleniVybuchu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotlaceniVybuchu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OdlehceniVybuchu)
                    </td>
                    <td class="vstcolorwhite">
                        @Html.DisplayFor(modelItem => item.SAPAddress)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary  btn-md glyphicon glyphicon-edit" }) 
                        
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-primary  btn-md glyphicon glyphicon-trash" })
                    </td>
                    
                </tr>







            }

        </table>
    </div>
    
</div>

