@model VST_sprava_servisu.RevizeSC

@{
    ViewBag.Title = "Details";
}









<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SCProvozu.SerioveCislo.Artikl.Nazev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SCProvozu.SerioveCislo.Artikl.Nazev)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.SCProvozu.SerioveCislo.SerioveCislo1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SCProvozu.SerioveCislo.SerioveCislo1)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Umisteni.NazevUmisteni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Umisteni.NazevUmisteni)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.SCProvozu.Lokace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCProvozu.Lokace)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.SCProvozu.Znaceni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCProvozu.Znaceni)
        </dd>



    </dl>
</div>

