@model VST_sprava_servisu.RevizeSC

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>RevizeSC</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RevizeId)
    @Html.HiddenFor(model => model.SCProvozuId)
    @Html.HiddenFor(model => model.UmisteniId)


    <div class="form-group">
        @Html.LabelFor(model => model.Baterie, htmlAttributes: new { @class = "control-label col-md-4 vstcolorwhite" })
        <div class="col-md-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.Baterie)
                @Html.ValidationMessageFor(model => model.Baterie, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Pyro, htmlAttributes: new { @class = "control-label col-md-4 vstcolorwhite" })
        <div class="col-md-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.Pyro)
                @Html.ValidationMessageFor(model => model.Pyro, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TlakovaZkouska, htmlAttributes: new { @class = "control-label col-md-4 vstcolorwhite" })
        <div class="col-md-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.TlakovaZkouska)
                @Html.ValidationMessageFor(model => model.TlakovaZkouska, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
