@model IEnumerable<VST_sprava_servisu.RevizeSC>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "";
    var @disabled = "";
}



<div class="col-lg-12">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SCProvozu.SerioveCislo.Artikl.Nazev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SCProvozu.SerioveCislo.SerioveCislo1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Umisteni.NazevUmisteni)<br>
                    @Html.DisplayNameFor(model => model.SCProvozu.Lokace)<br>
                    @Html.DisplayNameFor(model => model.SCProvozu.Znaceni)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Pyro)<br>
                    @Html.DisplayNameFor(model => model.Baterie)<br>
                    @Html.DisplayNameFor(model => model.TlakovaZkouska)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stav)<br>

                </th>
                <th>
                    Zjištěný stav<br>
                    Provedené zásahy<br>
                    Opatření k odstranění<br>

                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                {
                    if (item.Revize.StatusRevize.Realizovana == true)
                    {
                        disabled = "disabled";
                    }
                }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SCProvozu.SerioveCislo.Artikl.Nazev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SCProvozu.SerioveCislo.SerioveCislo1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Umisteni.NazevUmisteni)<br>
                    @Html.DisplayFor(modelItem => item.SCProvozu.Lokace)<br>
                    @Html.DisplayFor(modelItem => item.SCProvozu.Znaceni)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Pyro)<br>
                    @Html.DisplayFor(modelItem => item.Baterie)<br>
                    @Html.DisplayFor(modelItem => item.TlakovaZkouska)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stav)<br>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JineZavady)<br>
                    @Html.DisplayFor(modelItem => item.StavKoroze)<br>
                    @Html.DisplayFor(modelItem => item.StavZnecisteni)<br>
                </td>
                <td>
                    @if (Request.IsAuthenticated && (User.IsInRole("Administrator") || User.IsInRole("Manager")))
        {
            @Html.ActionLink("Edit", "Edit", "RevizeSC", new { id = item.Id, Region = ViewBag.Region }, new { @class = $"btn btn-warning btn-xs {disabled}" })
            @Html.ActionLink("Smaž", "Delete", "RevizeSC", new { id = item.Id, Region = ViewBag.Region }, new { @class = $"btn btn-danger btn-xs {disabled}" })
}
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>