@model IEnumerable<VST_sprava_servisu.Kusovnik>

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<table style="width:100%">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.PozadovaneMnozstvi)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.RadekKusovnikuSAPKod)
            <br>
            @Html.DisplayNameFor(model => model.NazevArtikluRadekKusovniku)
            <br>
            na skladě
        </th>
        <th>
        </th>
        <th>
        </th>




        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.PozadovaneMnozstvi)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.RadekKusovnikuSAPKod)
            <br>
            @Html.DisplayFor(modelItem => item.NazevArtikluRadekKusovniku)
            <br>
            @Html.DisplayFor(modelItem => item.OnHand)
        </td>
        <td>
            @if (item.SpravaSeriovychCisel == true)
            {
                @Html.ActionLink("Vyber sériové číslo","List", "AvailableSerialNumber", new { SZId = item.ServisniZasahId, SZPrvekId = item.ServisniZasahPrvekId, ArtiklKusovnikSAPKod = item.RadekKusovnikuSAPKod },null)
            }
        </td>
        <td>
            @if (item.SpravaSeriovychCisel == true)
            {
        @Html.Action("Index", "SZSerioveCisloe", new { Id = item.ServisniZasahPrvekId })
            }
        </td>



    </tr>
    }

</table>

