@model VST_sprava_servisu.ServisniZasahPrvek

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "ServisniZasahPrvek")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-control-sm">
    <h4>ServisniZasahPrvek</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ServisniZasahId)
    @Html.HiddenFor(model => model.SCProvozuID)


    <div class="form-group">
        @Html.LabelFor(model => model.PoruchaID, "PoruchaID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PoruchaID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PoruchaID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArtiklID, "ArtiklID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ArtiklID", null,"Bez opravy",htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ArtiklID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pocet, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pocet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pocet, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
