@model IEnumerable<VST_sprava_servisu.ServisniZasahPrvek>

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<div style="background-color:rgba(0, 0, 0, 0.1);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <table class="table table-hover">

        <colgroup>
            <col class="col-lg-3">
            <col class="col-lg-3">

            <col class="col-lg-3">


            <col class="col-lg-3">
        </colgroup>
        <thead>


            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SCProvozu.Znaceni)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Porucha.NazevPoruchy)
                </th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(t=>t.PoruchaID != 41))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SCProvozu.Znaceni)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Porucha.NazevPoruchy)
                </td>


               


                <td>
                    
                    @if (item.ServisniZasah.Closed != true)
                    {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-md btn-danger" })
                    }
                </td>
            </tr>

            }
        </tbody>
    </table>
</div>

    <div style="background-color:rgba(0, 0, 0, 0.1);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
        <table class="table table-hover">

            <colgroup>
                <col class="col-lg-3">
                <col class="col-lg-3">

                <col class="col-lg-2">
                <col class="col-lg-2">
                <col class="col-lg-2">
                
            </colgroup>
            <thead>


                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SCProvozu.Znaceni)<br>

                        @Html.DisplayNameFor(model => model.Artikl.Nazev)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pocet)<br>
                        @Html.DisplayNameFor(model => model.CenaZaKus)<br>
                        @Html.DisplayNameFor(model => model.CenaCelkem)<br>
                    </th>
                    <th>
                        
                    </th>
                    <th>@Html.DisplayNameFor(model => model.DatumVyprseniZaruky)</th>




                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(t => t.PoruchaID == 41))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SCProvozu.Znaceni)
                            <br>
                            
                            @Html.DisplayFor(modelItem => item.Artikl.KodSAP)<br>
                            @Html.DisplayFor(modelItem => item.Artikl.Nazev)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Pocet) <br>
                            @Html.DisplayFor(modelItem => item.CenaZaKus) <br>
                            @Html.DisplayFor(modelItem => item.CenaCelkem)<br>
                        </td>
                        <td>
                            @if (item.ServisniZasah.Closed == false && item.ServisniZasah.NabidkaDocNum == null && item.ServisniZasah.DodaciListDocNum == null)
                            {
                                
                                if (item.Reklamace == true)
                                {
                                    @Html.ActionLink("Reklamace", "Reklamace", new { Id = item.Id }, new { @class = "btn btn-xs btn-success" })
                                }
                                else
                                {
                                    @Html.ActionLink("Reklamace", "Reklamace", new { Id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                }
                                if (item.PoruseniZarucnichPodminek == true)
                                {
                                    @Html.ActionLink("Poruseni", "Poruseni", new { Id = item.Id }, new { @class = "btn btn-xs btn-success" })
                                }
                                else
                                {
                                    @Html.ActionLink("Poruseni", "Poruseni", new { Id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                }
                                
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DatumVyprseniZaruky)
                        </td>




                        <td>
                            @if (item.ServisniZasah.Closed == false && item.ServisniZasah.NabidkaDocNum == null && item.ServisniZasah.DodaciListDocNum == null)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                                
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })
                            }
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
