@model VST_sprava_servisu.SkupinaArtiklu

@{
    ViewBag.Title = "Delete";
}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>Administrace skupin artiklů</h4></center>
</div>
<div class="form-horizontal" style="background-color:rgba(0, 0, 0, 0.5);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">



    
    <div class="vstcolorwhite">
        <h4 class="vstcolor">Opravdu chcete smazat tuto skupinu artiklů?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Skupina)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Skupina)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Revize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Revize)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PeriodaRevize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PeriodaRevize)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TlakovaZk)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TlakovaZk)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PeriodaTlakovaZk)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PeriodaTlakovaZk)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VymenaBaterie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VymenaBaterie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PeriodaBaterie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PeriodaBaterie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ArtiklBaterieSAP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArtiklBaterieSAP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VymenaPyro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VymenaPyro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PeriodaPyro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PeriodaPyro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ArtoklPyro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArtoklPyro)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color col-lg-offset-2">
                <input type="submit" value="Ano smaž" class="btn btn-danger" /> 
                @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-success glyphicon glyphicon-th-list" })
            </div>
        }
    </div>
</div>