@model VST_sprava_servisu.SkupinaArtiklu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_FullW.cshtml";
}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>@Html.DisplayFor(model => model.Skupina)</h4></center>
    <p style="text-align:right">
        @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning glyphicon glyphicon-edit" })
        @Html.ActionLink(" ", "Index",null , new { @class = "btn btn-info glyphicon glyphicon-th-list" })
    </p>
</div>

<div class="form-horizontal" style="background-color:rgba(0, 0, 0, 0.5);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">



    <div class="container">
        <div class="row vstcolor">
            <div class="col-lg-3">
                @Html.DisplayNameFor(model => model.Revize)<br>
                @Html.DisplayNameFor(model => model.PeriodaRevize)
            </div>
            <div class="col-lg-3">
                @Html.DisplayNameFor(model => model.TlakovaZk)<br>
                @Html.DisplayNameFor(model => model.PeriodaTlakovaZk)
                
            </div>
            <div class="col-lg-3">
                @Html.DisplayNameFor(model => model.VymenaBaterie)<br>
                @Html.DisplayNameFor(model => model.PeriodaBaterie)<br>
                @Html.DisplayNameFor(model => model.ArtiklBaterieSAP)
            </div>
            <div class="col-lg-3">
                @Html.DisplayNameFor(model => model.VymenaPyro)<br>
                @Html.DisplayNameFor(model => model.PeriodaPyro)<br>
                @Html.DisplayNameFor(model => model.ArtoklPyro)
            </div>
        </div>
        <div class="row vstcolorwhite">
            <div class="col-lg-3">
                @Html.DisplayFor(model => model.Revize)<br>
                @Html.DisplayFor(model => model.PeriodaRevize)
            </div>
            <div class="col-lg-3">
                
                @Html.DisplayFor(model => model.TlakovaZk)<br>
                @Html.DisplayFor(model => model.PeriodaTlakovaZk)
            </div>
            <div class="col-lg-3">
                @Html.DisplayFor(model => model.VymenaBaterie)<br>
                @Html.DisplayFor(model => model.PeriodaBaterie)<br>
                @Html.DisplayFor(model => model.ArtiklBaterieSAP)
            </div>
            <div class="col-lg-3">
                @Html.DisplayFor(model => model.VymenaPyro)<br>
                @Html.DisplayFor(model => model.PeriodaPyro)<br>
                @Html.DisplayFor(model => model.ArtoklPyro)
            </div>
        
        </div>
   
    </div>
    
</div>
<br>
@Html.Partial("~/Views/Artikly/Index.cshtml", Model.Artikl,
    new ViewDataDictionary { { "Skupina", Model.Id }
                            ,{ "Revize", Model.Revize }
                            ,{ "TlakovaZk", Model.TlakovaZk }
                            ,{ "VymenaBaterie", Model.VymenaBaterie}
                            ,{ "VymenaPyro", Model.VymenaPyro}
                            
    })