@model IEnumerable<VST_sprava_servisu.VymenyLahvi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SCProvozuPuvodni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCProvozuNova)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCLahve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumVymeny)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SCProvozuPuvodni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCProvozuNova)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCLahve)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVymeny)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revize)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
