@model VST_sprava_servisu.KontakniOsoba

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KontakniOsoba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JmenoPrijmeni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JmenoPrijmeni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pozice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pozice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAPId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAPId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zakaznik.NazevZakaznika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zakaznik.NazevZakaznika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provoz.NazevProvozu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
