@model VST_sprava_servisu.KontakniOsoba

@{
    ViewBag.Title = "Delete";
}
@Html.Action("Header", "Zakaznici", new { id = ViewBag.Zakaznik })

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4 class="vstcolor">Opravdu chcete smazat tento záznam?</h4></center>
</div>

<div class="form-horizontal col-lg-12" style="background-color:rgba(0, 0, 0, 0.5);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    
    <dl class="dl-horizontal vstcolorwhite">
        <dt>
            @Html.DisplayNameFor(model => model.JmenoPrijmeni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JmenoPrijmeni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pozice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pozice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAPId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAPId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provoz.NazevProvozu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zakaznik.NazevZakaznika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zakaznik.NazevZakaznika)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Smaž" class="btn btn-danger col-lg-offset-2" /> 
        </div>
    }
</div>
