@model List<SAPOP>


@{
    ViewBag.Title = "SAPOPList";
}
@{ Layout = null;}


<table class="table vstcolorwhite" >
    <thead class="vstcolor">
    <tr>
        <th>
            Kód OP
        </th>
        <th>
            Název OP
        </th>
        <th>
            Address, City,  ZipCode, Country
        </th>
        <th>
            DIC<br>ICO
        </th>
        
        
        <th>
            Total / Open
        </th>
        
        <th></th>
    </tr>
</thead>
    <tbody>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.ZipCode),  @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicTradNum)<br>
                @Html.DisplayFor(modelItem => item.VatIdUnCmp)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Total) / @Html.DisplayFor(modelItem => item.Open)
            </td>
           
            <td>
                @Html.ActionLink("Importuj do Servisu", "GenerateOPfromSAP", new { kodOP = item.CardCode }, new { @class="btn btn-success"}) 
                
            </td>
        </tr>
    }
</tbody>
</table>
