@model VST_sprava_servisu.SCTest
@{
    Layout = null;
}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>Vyhledání sériového čísla a přiřazení do provozu / technologie</h4></center>
</div>
<div class="row" style="background-color:rgba(0, 0, 0, 0.5);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px; padding-top:10px;padding-bottom:10px;">

    @using (Html.BeginForm("TestSC2","SAPImport"))
    {
        @Html.AntiForgeryToken()

        <div >
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("Zakaznik", (object)ViewBag.Zakaznik)
            @Html.Hidden("Provoz", (object)ViewBag.Provoz)
            @Html.Hidden("Umisteni", (object)ViewBag.Umisteni)

            
                    @Html.EditorFor(model => model.SC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SC, "", new { @class = "text-danger" })
                
            
            
                    <input type="submit" value="SAP" class="btn btn-success btn-block" />

                   

                
           
        </div>
    }
    
        <div>
           @using (Html.BeginForm("ImportSCtoServis", "SAPImport"))
           {
            @Html.AntiForgeryToken()

            <div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("Zakaznik", (object)ViewBag.Zakaznik)
                @Html.Hidden("Provozy", (object)ViewBag.Provoz)
                @Html.Hidden("Umisteni", (object)ViewBag.Umisteni)


                
                <input type="submit" value="Manuálně" class="btn btn-warning btn-block" />





            </div>
           } 
            </div>
</div>