@model VST_sprava_servisu.SCProvozu

@{
    ViewBag.Title = "Edit";
}
@Html.Action("Header", "Zakaznici", new { Id = ViewBag.Zakaznik })
@Html.Action("Header", "Provozy", new { Id = ViewBag.Provoz })


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="" style="overflow: hidden;background-color:rgba(0, 0, 0, 0.3);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px; padding-top:10px;padding-bottom:10px; height:100% !important">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProvozId)
        @Html.HiddenFor(model => model.Umisteni)
        @Html.HiddenFor(model => model.SerioveCisloId)
        @Html.HiddenFor(model => model.DatumPosledniZmeny)
        @Html.HiddenFor(model => model.DatumVymeny)
        @Html.HiddenFor(model => model.DatumPrirazeni)
        @Html.Action("Header", "Umistenis", new { Id = Model.Umisteni })
        <br>
        <div class="form-horizontal col-lg-8">

            <div class="form-group">
                @Html.LabelFor(model => model.StatusId, "StatusId", htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Lokace, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Lokace, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lokace, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Znaceni, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Znaceni, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Znaceni, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UpravenaPeriodaRevize, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.UpravenaPeriodaRevize, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UpravenaPeriodaRevize, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.DatumRevize, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.DatumRevize, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.DatumRevize, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.SerioveCislo.Artikl.VymenaBaterie == true)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.DatumBaterie, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.DatumBaterie, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.DatumBaterie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Baterie, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Baterie)
                    @Html.ValidationMessageFor(model => model.Baterie, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BaterieArtikl, "BaterieArtikl", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.DropDownList("BaterieArtikl", null, " ", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BaterieArtikl, "", new { @class = "text-danger" })
            </div>
        </div>
}
            @if (Model.SerioveCislo.Artikl.VymenaPyro == true)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.DatumPyro, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.DatumPyro, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.DatumPyro, "", new { @class = "text-danger" })
            </div>
        </div>
}
            @if (Model.SerioveCislo.Artikl.TlakovaZk == true)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.DatumTlkZk, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.DatumTlkZk, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.DatumTlkZk, "", new { @class = "text-danger" })
            </div>
        </div>
}
            <div class="form-group">
                @Html.LabelFor(model => model.Proverit, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Proverit)
                        @Html.ValidationMessageFor(model => model.Proverit, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <input type="submit" value="Ukož" class="btn btn-success btn-block " />
                    @Html.ActionLink("Zpět", "Details", "Umistenis", new { Id = Model.Umisteni, Provoz = Model.ProvozId, Zakaznik = ViewBag.Zakaznik }, new { @class = "btn btn-warning btn-block" })
                </div>
            </div>
        </div>
  </div>
}

@section Scripts {
    <script type="text/javascript">

            $('.selectpicker').selectpicker({


          });


     $('.datetimepicker').datetimepicker(
     {
         format: 'DD.MM.YYYY'
         //daysOfWeekDisabled: [0, 6]
         ,locale: 'cs'



     }); </script>
}