@model IEnumerable<VST_sprava_servisu.SCProvozu>

@{
    ViewBag.Title = "Index";
}


<table class="table table-condensed vstcolorwhite">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerioveCislo.Artikl.KodSAP)<br>
                @Html.DisplayNameFor(model => model.SerioveCislo.Artikl.Nazev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerioveCislo.SerioveCislo1)<br>
                @Html.DisplayNameFor(model => model.Status.NazevStatusu)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DatumPrirazeni)<br>
                @Html.DisplayNameFor(model => model.DatumPosledniZmeny)<br>
                @Html.DisplayNameFor(model => model.DatumVymeny)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SerioveCislo.Artikl.KodSAP)<br>
                    @Html.DisplayFor(modelItem => item.SerioveCislo.Artikl.Nazev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerioveCislo.SerioveCislo1)<br>
                    @Html.DisplayFor(modelItem => item.Status.NazevStatusu)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DatumPrirazeni)<br>
                    @Html.DisplayFor(modelItem => item.DatumPosledniZmeny)<br>
                    @Html.DisplayFor(modelItem => item.DatumVymeny)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
