@model VST_sprava_servisu.ServisniZasahy

@{

}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>Seznam servisních zásahů</h4></center>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("Send", true)

            <div class="form-group">
                @Html.LabelFor(model => model.ZakaznikId, "ZakaznikId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ZakaznikId", null, string.Empty, htmlAttributes: new { @class = "form-control selectpicker", data_live_search = true })
                    @Html.ValidationMessageFor(model => model.ZakaznikId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Projekt, "Projekt", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Projekt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Projekt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DatumOd, "DatumOd", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DatumOd, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.DatumOd, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DatumDo, "DatumDo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DatumDo, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.DatumDo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Closed, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Closed, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Closed, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>





            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Aplikuj filtr" class="btn btn-info btn-block" />
                </div>
            </div>
        </div>
    }

</div>

@if (Model.ServisniZasah != null)
{
    @Html.Partial("List", Model.ServisniZasah)
}

@section Scripts {
    <script type="text/javascript">

        $('.selectpicker').selectpicker({


        });


        $('.datetimepicker').datetimepicker(
            {
                format: 'DD.MM.YYYY'
                //daysOfWeekDisabled: [0, 6]
                , locale: 'cs'



            });</script>
}