@model VST_sprava_servisu.Artikl

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Artikl</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nazev)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nazev)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Oznaceni)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Oznaceni)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Typ)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Typ)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RozsahProvoznichTeplot)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RozsahProvoznichTeplot)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.KodSAP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KodSAP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Revize)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Revize)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PeriodaRevize)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PeriodaRevize)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TlakovaZk)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TlakovaZk)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PeriodaTlakovaZk)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PeriodaTlakovaZk)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VymenaBaterie)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VymenaBaterie)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PeriodaBaterie)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PeriodaBaterie)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ArtiklBaterieSAP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ArtiklBaterieSAP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VymenaPyro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VymenaPyro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PeriodaPyro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PeriodaPyro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ArtoklPyro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ArtoklPyro)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
