
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_FullW.cshtml";
}


<div class="row">
    <div class="col-md-12 vstdark3div">
        <div class="col-md-4 ">
            <h4>Administrace</h4>
            <p>@Html.ActionLink("Regiony", "Index", "Regiony", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Jazyky", "Index", "Jazyky", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Statusy prvků", "Index", "StatusRevizes", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Statusy revizí", "Index", "Status", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Typ PBZ", "Index", "TypPBZ", null, new { @class = "btn btn-xs btn-default btn-block" })</p>

        </div>
        <div class="col-md-4 ">
            <h4>Import z SAP</h4>
            <p>Zobrazení seznamu <b class="vstcolor">obchodních partnerů</b> v SAP, které mají či měli projekt na revizi, servisní zásah či pohotovost a nebyl ještě importován do Servisu. Obchodní partner je naimportován do databáze servisu.</p>
            <p>@Html.ActionLink("Import OP", "List", "SAPImport", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>Zobrazení seznamu <b class="vstcolor">artiklů</b> v SAP, které mají zapnutou správu sériových čísel a nejsou ještě importovány do servisu</p>
            <p>@Html.ActionLink("Import Artiklů", "SAPItems", "SAPImport", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
        </div>
        <div class="col-md-4 ">
            <h4>Nastavení</h4>
            <p>@Html.ActionLink("Nastavení artiklů", "Index", "SkupinaArtiklu", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Sériová čísla", "Index", "SerioveCisloes", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Sériová čísla provozu", "Index", "SCProvozu", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
        </div>
        <div class="col-md-4 ">
            <h4>Uživatelé</h4>
            <p>@Html.ActionLink("Role", "Index", "Role", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Role uživatelů", "Index", "RoleUzivatele", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Uživatelé", "Index", "Technici", null, new { @class = "btn btn-xs btn-default btn-block" })</p>

        </div>
        <div class="col-md-4 ">
            <h4>Servisní zásahy</h4>
            <p>@Html.ActionLink("Nastavení vozidel", "Index", "Vozidlo", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Poruchy", "Index", "Porucha", null, new { @class = "btn btn-xs btn-default btn-block" })</p>
            <p>@Html.ActionLink("Kategorie poruch", "Index", "KategoriePoruchy", null, new { @class = "btn btn-xs btn-default btn-block" })</p>


        </div>
        <div class="col-md-4 ">
            <h4>Generování revizí</h4>
            <p>@Html.ActionLink("2018", "RunGenerator", "GenerovaniRevizi", new { Year = 2018 }, new { @class = "btn btn-xs btn-default btn-block" })</p>


        </div>
        <div class="col-md-4 ">
            <h4>Integrace SPZ</h4>
            <p>@Html.ActionLink("Import dat z SPZ", "Index", "SPZ", null, new { @class = "btn btn-xs btn-default btn-block" })</p>


        </div>
    </div>


</div>

