@model IEnumerable<VST_sprava_servisu.VypocetPlanuRevizi>

@{
    ViewBag.Title = "Provoz";
}

<h2>Provoz</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zakaznik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvozId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provoz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rok_R1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rok_R2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R1POL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.R2POL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Zakaznik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvozId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provoz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rok_R1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rok_R2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R1POL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R2POL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ZakaznikId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ZakaznikId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ZakaznikId })
        </td>
    </tr>
}

</table>
