
@model VST_sprava_servisu.Models.Cenik

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_FullW.cshtml";
}

@Html.Action("Header", "Zakaznici", new { Id = Model.ZakaznikId })

<table class="table table-hover">
    <colgroup>
        <col class="col-lg-7">
        <col class="col-lg-1">
        <col class="col-lg-1">
        <col class="col-lg-1">
        <col class="col-lg-1">
        <col class="col-lg-1">
    </colgroup>
    <thead>
        <tr>
            <th>Artikl</th>
            <th>SAP Kod</th>
            <th>Cenikova cena</th>
            <th>cenikova mena</th>
            <th>Zvlastni cena</th>
            <th>Mena zvlastni ceny</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @item.Artikl.Nazev
                </td>
                <td>
                    @item.Artikl.KodSAP
                </td>
                <td>
                    @item.CenikCena
                </td>
                <td>
                    @item.CenikMena
                </td>
                <td>
                    @item.ZCCena
                </td>
                <td>
                    @item.ZCMena
                </td>
            </tr>

        }
    </tbody>
</table>