@model VST_sprava_servisu.ServisniZasah

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServisniZasah</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumVyzvy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumVyzvy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumVznikuPoruchy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumVznikuPoruchy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumZasahu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumZasahu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumOdstraneni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumOdstraneni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odkud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odkud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zpět)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zpět)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CestaCelkem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CestaCelkem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PraceHod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PraceHod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PraceSazba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PraceSazba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pracelidi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pracelidi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PraceCelkem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PraceCelkem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celkem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celkem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reklamace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reklamace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoruseniZarucnichPodminek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoruseniZarucnichPodminek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provoz.NazevProvozu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Umisteni.NazevUmisteni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Umisteni.NazevUmisteni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vozidlo.NazevVozidla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vozidlo.NazevVozidla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zakaznik.NazevZakaznika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zakaznik.NazevZakaznika)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
