@model VST_sprava_servisu.ServisniZasah

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <center><h3>Editace servisního zásahu</h3></center>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Projekt)
    @Html.HiddenFor(model => model.Nabidka)
    @Html.HiddenFor(model => model.Zakazka)
    @Html.HiddenFor(model => model.DodaciList)
    @Html.HiddenFor(model => model.ZakaznikID)
    @Html.HiddenFor(model => model.ProvozId)
    @Html.HiddenFor(model => model.UmisteniId)
    @Html.HiddenFor(model => model.Closed)
    @Html.HiddenFor(model => model.VozidloId)
    @Html.HiddenFor(model => model.CestaCelkem)
    @Html.HiddenFor(model => model.PraceSazba)
    @Html.HiddenFor(model => model.PraceCelkem)
    @Html.HiddenFor(model => model.Celkem)
    @Html.HiddenFor(model => model.Reklamace)
    @Html.HiddenFor(model => model.PoruseniZarucnichPodminek)
    @Html.HiddenFor(model => model.Mena)

    <div class="form-group">
        @Html.LabelFor(model => model.DatumVyzvy, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DatumVyzvy, new { htmlAttributes = new { @class = "form-control  datetimepicker " } })
            @Html.ValidationMessageFor(model => model.DatumVyzvy, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DatumVznikuPoruchy, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DatumVznikuPoruchy, new { htmlAttributes = new { @class = "form-control  datetimepicker" } })
            @Html.ValidationMessageFor(model => model.DatumVznikuPoruchy, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DatumZasahu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DatumZasahu, new { htmlAttributes = new { @class = "form-control  datetimepicker" } })
            @Html.ValidationMessageFor(model => model.DatumZasahu, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DatumOdstraneni, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DatumOdstraneni, new { htmlAttributes = new { @class = "form-control  datetimepicker" } })
            @Html.ValidationMessageFor(model => model.DatumOdstraneni, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Odkud, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Odkud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Odkud, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Kam, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Kam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Kam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Zpět, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Zpět, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Zpět, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Přepočti cestu" name="action" class="btn btn-success" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Km, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Km, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Km, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PraceHod, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PraceHod, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PraceHod, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Pracelidi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pracelidi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pracelidi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ulož" name="action" class="btn btn-success" />
            @Html.ActionLink("Back to List", "Index", "ServisniZasahy", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>
}

<div>
   
</div>
@section Scripts {
    <script type="text/javascript">
            //AIzaSyAxuVmX9-R3UU50YbSnTxKtFoCwBsLkt70 / googlemapsapi
            $('.datetimepicker').datetimepicker(
                {
                    format: 'DD.MM.YYYY HH:mm'
                    //daysOfWeekDisabled: [0, 6]
                    , locale: 'cs',
                    //inline: true,
                    sideBySide: true


                });</script>


    
        }