@model VST_sprava_servisu.ServisniZasah

@{
    ViewBag.Title = "Details";
}

<div style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    
    <h4 class="vstcolor">
        @Html.ActionLink(" ", "Redirect", "Zakaznici", new { Model.Provoz.ZakaznikId, Model.ProvozId, Model.UmisteniId }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-arrow-right " })
        @Html.DisplayFor(model => model.Zakaznik.NazevZakaznika), @Html.DisplayFor(model => model.Provoz.NazevProvozu),@Html.DisplayFor(model => model.Umisteni.NazevUmisteni)
    </h4>
</div>

<div class="row" style="background-color:rgba(0, 0, 0, 0.2);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <div class="col-lg-3">
        <div>
            <b>@Html.DisplayNameFor(model => model.DatumVyzvy)<br></b>

        </div>
        <div>
            @Html.DisplayFor(model => model.DatumVyzvy)
        </div>

    </div>
    <div class="col-lg-3">
        <div>
            <b> @Html.DisplayNameFor(model => model.DatumVznikuPoruchy)<br></b>
        </div>
        <div>
            @Html.DisplayFor(model => model.DatumVznikuPoruchy)
        </div>
    </div>
    <div class="col-lg-3">
        <div>
            <b> @Html.DisplayNameFor(model => model.DatumZasahu)<br></b>
        </div>
        <div>
            @Html.DisplayFor(model => model.DatumZasahu)
        </div>
    </div>
    <div class="col-lg-3">
        <div>
            <b>  @Html.DisplayNameFor(model => model.DatumOdstraneni)<br></b>

        </div>
        <div>
            @Html.DisplayFor(model => model.DatumOdstraneni)
        </div>
    </div>
</div>


<div class="row" style="background-color:rgba(0, 0, 0, 0.2);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <div class="col-lg-3">
        <div>
            <b> @Html.DisplayNameFor(model => model.Odkud)<br></b>
        </div>
        <div>
            @Html.DisplayFor(model => model.Odkud)
        </div>

    </div>
    <div class="col-lg-3">
        <div>
            <b> @Html.DisplayNameFor(model => model.Kam)<br></b>
        </div>
        <div>
            @Html.DisplayFor(model => model.Kam)
        </div>

    </div>
    <div class="col-lg-3">
        <div>
            <b> @Html.DisplayNameFor(model => model.Zpět)<br></b>
        </div>
        <div>
            @Html.DisplayFor(model => model.Zpět)
        </div>

    </div>
    <div class="col-lg-2">
        <div>
            <b>
                Km

            </b>
        </div>
        <div>

            @Html.DisplayFor(model => model.Km)
        </div>

    </div>
    <div class="col-lg-1">
        <div>
            <b>
                Cena

            </b>
        </div>
        <div>
            @Html.DisplayFor(model => model.CestaCelkem)
            @Html.DisplayFor(model => model.Mena)
        </div>

    </div>
</div>



<div class="row" style="background-color:rgba(0, 0, 0, 0.2);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <div class="col-lg-3">
        <div>
            <b> @Html.DisplayNameFor(model => model.PraceHod)</b>
        </div>
        <div>
            @Html.DisplayFor(model => model.PraceHod)
        </div>

    </div>
    <div class="col-lg-3">
        <div>
            <b>@Html.DisplayNameFor(model => model.PraceSazba)</b>
        </div>
        <div>
            @Html.DisplayFor(model => model.PraceSazba) @Html.DisplayFor(model => model.Mena)
        </div>

    </div>
    <div class="col-lg-3">
        <div>
            <b> @Html.DisplayNameFor(model => model.Pracelidi)</b>
        </div>
        <div>
            @Html.DisplayFor(model => model.Pracelidi)
        </div>

    </div>
    <div class="col-lg-3">
        <div>

            <b> @Html.DisplayNameFor(model => model.PraceCelkem)</b>
        </div>
        <div>
            @Html.DisplayFor(model => model.PraceCelkem) @Html.DisplayFor(model => model.Mena)
        </div>

    </div>
</div>


<div class="row" style="background-color:rgba(0, 0, 0, 0.2);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <div class="col-lg-3">
        <div>
            <b> @Html.DisplayNameFor(model => model.Celkem)</b>
        </div>
        <div>
            @Html.DisplayFor(model => model.Celkem) @Html.DisplayFor(model => model.Mena)
        </div>

    </div>
    <div class="col-lg-3">
        <div>
            <b>@Html.DisplayNameFor(model => model.Reklamace)</b>
        </div>
        <div>
            @Html.DisplayFor(model => model.Reklamace)
        </div>

    </div>
    <div class="col-lg-3">
        <div>
            <b> @Html.DisplayNameFor(model => model.PoruseniZarucnichPodminek)</b>
        </div>
        <div>
            @Html.DisplayFor(model => model.PoruseniZarucnichPodminek)

        </div>

    </div>
    <div class="col-lg-3">
        <div>

            <b>@Html.DisplayNameFor(model => model.Closed) </b>
        </div>
        <div>
            @Html.DisplayFor(model => model.Closed)
        </div>

    </div>
</div>
<div class="row" style="background-color:rgba(0, 0, 0, 0.2);border:1px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <div class="col-lg-3">
        <div>
            <b> Projekt</b>
            @if (Model.NabidkaDocNum == null || Model.NabidkaDocNum == "")
            {
                @Html.ActionLink(" ", "SelectProject", new { Id = Model.Id }, new { @class = "btn btn-xs btn-success glyphicon glyphicon-glyphicon glyphicon-search" })
            }
            @if (Model.Projekt == "" || Model.Projekt == null)
            {
                @Html.ActionLink(" ", "GenerateProject", new { Id = Model.Id }, new { @class = "btn btn-xs btn-success glyphicon glyphicon-glyphicon glyphicon-asterisk" })
            }
        </div>
        <div>
            @Model.Projekt


            @Model.ProjektStatus
        </div>

    </div>
    <div class="col-lg-3">
        <div>
            <b>Nabidka</b>
            @if ((Model.NabidkaDocNum == null || Model.NabidkaDocNum == "") && (Model.ZakazkaDocNUm == null || Model.ZakazkaDocNUm == "") && (Model.DodaciListDocNum == null || Model.DodaciListDocNum == ""))
            {
                @Html.ActionLink(" ", "GenerateQuotation", new { Id = Model.Id }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-asterisk" })
            }
            @if (Model.NabidkaDocNum != "" && Model.NabidkaDocNum != null)
            {
                @Html.ActionLink(" ", "PrintQuotation", "ServisniZasah", new { Id = Model.Id }, new { @class = "btn btn-default btn-xs glyphicon glyphicon-print" })
                if ((Model.ZakazkaDocNUm == null || Model.ZakazkaDocNUm == "") && (Model.DodaciListDocNum == null || Model.DodaciListDocNum == ""))
                {
                    @Html.ActionLink(" ", "GenerateOrder", new { Id = Model.Id }, new { @class = "btn btn-success glyphicon btn-xs glyphicon-triangle-right" })
                }
            }
        </div>
        <div>
            @Model.NabidkaDocNum

        </div>

    </div>
    <div class="col-lg-3">
        <div>
            <b> Zakazka</b>
            @if (Model.ZakazkaDocNUm != "" && Model.ZakazkaDocNUm != null)
            {
                @Html.ActionLink(" ", "PrintOrder", "ServisniZasah", new { Id = Model.Id }, new { @class = "btn btn-default btn-xs glyphicon glyphicon-print" })
            }
        </div>
        <div>
            @Model.ZakazkaDocNUm
        </div>
        <div>
            @Html.Partial("Upload", Model.Id)
        </div>

    </div>
    <div class="col-lg-3">
        <div>

            <b>Dodaci list </b>
            
        @Html.ActionLink(" ", "Predelivery", "ServisniZasah", new { Id = Model.Id }, new { @class = "btn btn-default btn-xs glyphicon-triangle-right" })
        @Html.ActionLink(" ", "GenerateDL", new { Id = Model.Id }, new { @class = "btn btn-success glyphicon btn-xs glyphicon-triangle-right" })

@Html.ActionLink(" ", "PrintDelivery", "ServisniZasah", new { Id = Model.Id }, new { @class = "btn btn-default btn-xs glyphicon glyphicon-print" })
        </div>
        <div>
            @Model.DodaciListDocNum
        </div>

    </div>
</div>

<hr>
@Html.Action("Add", "ServisniZasahPrvek", new { Id = Model.Id })