@model IEnumerable<VST_sprava_servisu.ServisniZasah>

@{
    ViewBag.Title = "Index";
    Layout ="~/Views/Shared/_Layout_FullW.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumVyzvy)<br>
            @Html.DisplayNameFor(model => model.DatumVznikuPoruchy)<br>
            @Html.DisplayNameFor(model => model.DatumZasahu)<br>
            @Html.DisplayNameFor(model => model.DatumOdstraneni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odkud)<br>
            @Html.DisplayNameFor(model => model.Kam)<br>
            @Html.DisplayNameFor(model => model.Zpět)<br>
            @Html.DisplayNameFor(model => model.Km)<br>
            @Html.DisplayNameFor(model => model.CestaCelkem)<br>
            @Html.DisplayNameFor(model => model.Vozidlo.NazevVozidla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PraceHod)<br>
            @Html.DisplayNameFor(model => model.PraceSazba)<br>
            @Html.DisplayNameFor(model => model.Pracelidi)<br>
            @Html.DisplayNameFor(model => model.PraceCelkem)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Celkem)<br>
            @Html.DisplayNameFor(model => model.Mena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reklamace)<br>
            @Html.DisplayNameFor(model => model.PoruseniZarucnichPodminek)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Zakaznik.NazevZakaznika)<br>
            @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)<br>
            @Html.DisplayNameFor(model => model.Umisteni.NazevUmisteni)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVyzvy)<br>
            @Html.DisplayFor(modelItem => item.DatumVznikuPoruchy)<br>
            @Html.DisplayFor(modelItem => item.DatumZasahu)<br>
            @Html.DisplayFor(modelItem => item.DatumOdstraneni)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Odkud)<br>
            @Html.DisplayFor(modelItem => item.Kam)<br>
            @Html.DisplayFor(modelItem => item.Zpět)<br>
            @Html.DisplayFor(modelItem => item.Km)<br>
            @Html.DisplayFor(modelItem => item.CestaCelkem)<br>
            @Html.DisplayFor(modelItem => item.Vozidlo.NazevVozidla)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PraceHod)<br>
            @Html.DisplayFor(modelItem => item.PraceSazba)<br>
            @Html.DisplayFor(modelItem => item.Pracelidi)<br>
            @Html.DisplayFor(modelItem => item.PraceCelkem)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Celkem)<br>
            @Html.DisplayFor(modelItem => item.Mena)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Reklamace)<br>
            @Html.DisplayFor(modelItem => item.PoruseniZarucnichPodminek)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Zakaznik.NazevZakaznika)<br>
            @Html.DisplayFor(modelItem => item.Provoz.NazevProvozu)<br>
            @Html.DisplayFor(modelItem => item.Umisteni.NazevUmisteni)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
