@model IEnumerable<VST_sprava_servisu.ServisniZasah>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumVyzvy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumVznikuPoruchy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumZasahu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumOdstraneni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odkud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zpět)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Km)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CestaCelkem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PraceHod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PraceSazba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pracelidi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PraceCelkem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celkem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reklamace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoruseniZarucnichPodminek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provoz.NazevProvozu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Umisteni.NazevUmisteni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vozidlo.NazevVozidla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zakaznik.NazevZakaznika)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVyzvy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVznikuPoruchy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumZasahu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumOdstraneni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Odkud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zpět)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Km)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CestaCelkem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PraceHod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PraceSazba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pracelidi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PraceCelkem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celkem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reklamace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoruseniZarucnichPodminek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provoz.NazevProvozu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Umisteni.NazevUmisteni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vozidlo.NazevVozidla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zakaznik.NazevZakaznika)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
