@model IEnumerable<VST_sprava_servisu.Jazyk>

@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>Administrace jazyků tiskových šablon</h4></center>
</div>

<div class="form-horizontal" style="background-color:rgba(0, 0, 0, 0.5);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <p>
        @Html.ActionLink(" ", "Create", null, new { @class = "btn btn-success glyphicon glyphicon-plus" })
    </p>
    <table class="table">
        <tr class="vstcolor">
            <th class="col-lg-10">
                @Html.DisplayNameFor(model => model.NazevJazyku)
            </th>
            <th class="col-lg-2"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="vstcolorwhite">
                <td>
                    @Html.DisplayFor(modelItem => item.NazevJazyku)
                </td>
                <td style="text-align:right">
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-success glyphicon glyphicon-edit" }) 
                    
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                </td>
            </tr>
        }

    </table>
</div>