@model VST_sprava_servisu.ProvedeniVymenyLahve
@{
    ViewBag.Title = "VyhledaniSC";
}

@Html.Action("Header", "Revize", new { Id = Model.Revize.Id, Revize = Model.Revize.Id })
<h2>VyhledaniSC</h2>

@using (Html.BeginForm("VyhledaniSCImport", "ProvedeniVymenyLahve"))
{
    @Html.AntiForgeryToken()

    <div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("RevizeSCId", Model.RevizeSCId)



        @Html.EditorFor(model => model.SC, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SC, "", new { @class = "text-danger" })



        <input type="submit" value="Vyhledej v SAP" class="btn btn-success btn-block" />





    </div>
}