@model  VST_sprava_servisu.AvailableSNList

@{
    ViewBag.Title = "List";
}
<table>
    <thead>
    <tr>
        <th>
            
        </th>
        
    </tr>
        
        </thead>
    <tbody>

@foreach (var item in Model.AvailableSN)
{
    <tr>
        <td>
            @using (Html.BeginForm("Create", "SZSerioveCisloe"))
            {
        @Html.AntiForgeryToken()

            <div class="">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("IntrSerial", item.IntrSerial)
                @Html.Hidden("SerioveCislo", item.SuppSerial)
                @Html.Hidden("Sklad", item.WhsCode)
                @Html.Hidden("ServisniZasahPrvekId", Model.SZPrvekId)
                @Html.Hidden("SAPKod", Model.ArtiklKusovnikSAPKod)
                @Html.Hidden("SysSerial", item.SysSerial)



                <div class="form-group">
                    <div class="">
                        <input type="submit" value="@item.IntrSerial" class="btn btn-default" />
                    </div>
                </div>
            </div>
}

           
        </td>
    
       </tr> 
}
        </tbody>
    </table>
