@model IEnumerable<VST_sprava_servisu.Zakaznik>

@{
    ViewBag.Title = "Index";
}


<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>Seznam zákazníků</h4></center>
</div>
<div class="form-horizontal" style="background-color:rgba(0, 0, 0, 0.5);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">

    <table class="table">
        <tr>
            <th class="vstcolor">
                @Html.DisplayNameFor(model => model.NazevZakaznika)<br>@Html.DisplayNameFor(model => model.KodSAP)
            </th>

            <th class="vstcolor">
                @Html.DisplayNameFor(model => model.DIC)<br>@Html.DisplayNameFor(model => model.IC)
            </th>




            <th class="vstcolor">
                @Html.DisplayNameFor(model => model.Adresa) <br>@Html.DisplayNameFor(model => model.Region.NazevRegionu)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="vstcolorwhite">
                   <b class="vstcolor"> @Html.DisplayFor(modelItem => item.NazevZakaznika)</b><br>@Html.DisplayFor(modelItem => item.KodSAP)
                </td>

                <td class="vstcolorwhite">
                    @Html.DisplayFor(modelItem => item.DIC)<br>@Html.DisplayFor(modelItem => item.IC)
                </td>



                <td class="vstcolorwhite">
                    @Html.DisplayFor(modelItem => item.Adresa)<br>@Html.DisplayFor(modelItem => item.Region.NazevRegionu)
                </td>


                <td>
                   @* @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-primary  btn-md glyphicon glyphicon-edit" })*@
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-primary  btn-lg glyphicon glyphicon-expand" })
                    @*@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-primary  btn-md glyphicon glyphicon-trash" })*@
                </td>
            </tr>
        }

    </table>
    
</div>