@model IEnumerable<VST_sprava_servisu.StatusRevize>

@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>Administrace statusů revize</h4></center>
</div>

<div class="form-horizontal" style="background-color:rgba(0, 0, 0, 0.5);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <p>
        @Html.ActionLink(" ", "Create", null, new { @class = "btn btn-success glyphicon glyphicon-plus" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazevStatusuRevize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planovana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Potvrzena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Realizovana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stornovana)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NazevStatusuRevize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Planovana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Potvrzena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Realizovana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stornovana)
                </td>
                <td style="text-align: right">
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-warning glyphicon glyphicon-edit" })

                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                </td>
            </tr>
        }

    </table>
</div>